html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

ul,
ol {
  margin-left: var(--s1);
}

p,
li,
blockquote,
pre {
  margin-top: var(--s1);
}

body {
  line-height: var(--s3);
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#left-column {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: var(--s1);
}

#left-column x-menu {
  display: none;
}
#middle-column {
  width: 100%;
  max-width: 40rem;
  padding: var(--s1);
  align-self: center;
}
#right-column {
  display: none;
  font: none;
  width: 256px;
  /* padding: var(--s1); */
}

@media screen and (min-width: 1024px) {
  .flex-container {
    flex-direction: row;
  }
  #left-column {
    display: block;
    height: 100vh;
    position: sticky;
    top: 0;
    width: 256px;
    flex: 1;
    overflow-y: scroll;
    text-align: right;
    padding: var(--s3);
  }
  #left-column x-menu {
    display: block;
  }
  #right-column {
    display: block;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow-y: scroll;
    flex: 1;
  }
}
