:root {
  --scale: 1.25;
  --s16: calc(var(--s15) * var(--scale));
  --s15: calc(var(--s14) * var(--scale));
  --s14: calc(var(--s13) * var(--scale));
  --s13: calc(var(--s12) * var(--scale));
  --s12: calc(var(--s11) * var(--scale));
  --s11: calc(var(--s10) * var(--scale));
  --s10: calc(var(--s9) * var(--scale));
  --s9: calc(var(--s8) * var(--scale));
  --s8: calc(var(--s7) * var(--scale));
  --s7: calc(var(--s6) * var(--scale));
  --s6: calc(var(--s5) * var(--scale));
  --s5: calc(var(--s4) * var(--scale));
  --s4: calc(var(--s3) * var(--scale));
  --s3: calc(var(--s2) * var(--scale));
  --s2: calc(var(--s1) * var(--scale));
  --s1: 1rem;
}
