<nav>
  <ul>
    <template each="section in sitemap.sections">
      <li>
        <!-- <a
          href="{{ section.pathname }}"
          aria-current="{{ ariaCurrent(section.pathname) }}"
          class="section"
        > -->
          {{ section.title }}
        <!-- </a> -->
        <ul>
          <template each="page in section.pages">
            <li>
              <a href="{{ page.pathname }}" aria-current="{{ ariaCurrent(page.pathname) }}">
                {{ page.title }}
              </a>
            </li>
          </template>
        </ul>
      </li>
    </template>
  </ul>
</nav>
