top-menu {
  display: block;
}

ul {
  display: flex;
  list-style-type: none;
  margin-left: 0;
}

li {
  padding: var(--s1);
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  top-menu {
    display: none;
  }
}
